.hello {
    background-color: red;
    text-align: center;
    width: 1000px;
    border: solid black 1px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: 100px;
    padding-bottom: 50px;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;




}
.hello-header {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

h1{
    text-transform: uppercase;
    font: 100px soild;
    font-weight: bold;
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}
p {
    text-transform: lowercase;
    font: 50px soild;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hello-body {
    background-color: white;
    font-family: Helvetica;
    font-size: 150px;
    font-style: italic;
    font-weight: bold;

}