.menu {
    list-style: none;
}

.menu .menuitem {
    display: inline;
    font-size: 1.3em;
    color: darkred;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom:2px solid black;
    opacity: 0.5;
    transition-property: background-color border-bottom opacity;
    transition-duration: 500ms;
    transition-timing-function: linear;

}

.menu.menuitem {
    list-style: none;
}
.menu .menuitem:hover {
    background-color: aliceblue;
    opacity: 1.0;

}
